configure
*~
/autom4te.cache/
/debug-*/
/release-*/
*.lo
*.la
*.o
.deps/
.libs/
.dirstamp
Makefile.in
star_m68k
config.h
config.log
config.status
git_version.h
libtool
src/cbob/cbob
src/gens/fw/bios32xg.bin.c
src/gens/fw/bios32xg.bin.h
src/gens/fw/bios32xm.bin.c
src/gens/fw/bios32xm.bin.h
src/gens/fw/bios32xs.bin.c
src/gens/fw/bios32xs.bin.h
src/gens/gens
src/mdp/mdp_test/mdp_test
src/starscream/main68k.asm
src/starscream/star_s68k
src/starscream/sub68k.asm
stamp-h1
